alice:print,queue,topQueue,start,stop,restart,status,readConfig,setConfig
george:start,stop,restart,status,readConfig,setConfig
cecilia:print,queue,topQueue
ida:print,queue,topQueue
david:print,queue
erica:print,queue
fred:print,queue
henry:print,queue